section.about
	div.container
		div.row
			div.col-12.col-xxl-6
				div.about__body
					h2.h2.title О компании
					p.text В&nbsp;октябре 2013 года в&nbsp;Ярославле на&nbsp;территории завода ООО &laquo;Комацу Мэнуфэкчуринг Рус&raquo; был открыт центр для проведения демонстраций высоких возможностей техники Komatsu. Это четвертая в&nbsp;мире по&nbsp;счету и&nbsp;по&nbsp;величине после Китая, Америки и&nbsp;Японии демонстрационная площадка Komatsu. Ее&nbsp;площадь составляет 13&nbsp;000 кв.м.
					p.text.text--mb30 Помимо техники, выпускаемой на&nbsp;заводе в&nbsp;Ярославле, здесь также представлена техника, произведенная на&nbsp;других заводах Komatsu и&nbsp;поставляемая в&nbsp;Россию и&nbsp;страны СНГ.
					a.btn-circle(href="#") 
						span.btn-circle__text Стать дистрибьютором

			div.col-12.col-xxl-6
				div.about__info
					div.about__row
						div.about__item
							+info({number: '82', text: 'млрд руб.', desc: 'Инвестиции в&nbsp;развитии с&nbsp;2002&nbsp;г.'})
						div.about__item
							+info({number: '10', text: 'производств', desc: 'Сибирь, Армения, Киргизия, Кузбасс'})
						div.about__item
							img.img.about__item-img(src="images/about-__img-01-320.jpg", alt="")
						div.about__item
							img.img.about__item-img(src="images/about-__img-02-320.jpg", alt="")
						div.about__item
							+info({number: '3', text: 'тысчи человек', desc: 'Общая численность сотрудников'})