.btn-circle {
	/* 1 Positioning */
	position: relative;

	/* 2 Block model */
	box-sizing: border-box;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 11px 10px;
	margin: 0;
	overflow: visible;

	/* 3 Typography */
	font-family: $font-main;
	font-size: 14px;
	font-weight: 700;
	line-height: 20px;
	color: $color-secondary;
	text-decoration: none;
	vertical-align: middle;

	/* 4 Visual */
	cursor: pointer;
	user-select: none;
	background: none;
	border: none;
	border-radius: 0;
	outline: none;

	/* 5 Animation */
	transition: all 0.5s $cubic-bezier 0.15s;
	-moz-appearance: none;
	-webkit-appearance: none;
	-webkit-tap-highlight-color: transparent;
	@media (min-width: 768px) {
		/* 2 Block model */
		padding: 20px 10px;
	}
	@media (min-width: 992px) {
		/* 2 Block model */
		padding: 20px 20px;

		/* 3 Typography */
		font-size: 18px;
		line-height: 20px;
	}
}
.btn-circle__text {
	/* 1 Positioning */
	position: relative;
	z-index: 2;
}
.btn-circle::before {
	/* 1 Positioning */
	position: absolute;
	top: 5px;
	left: -1px;
	z-index: 1;

	/* 2 Block model */
	display: block;
	width: 32px;
	height: 32px;

	/* 4 Visual */
	content: '';
	background: $color-primary;
	border-radius: 50%;
	transition: all 0.5s $cubic-bezier 0.15s;
	animation: top 8s linear;
	animation-iteration-count: infinite;
	@media (min-width: 768px) {
		/* 1 Positioning */
		top: 6px;
		left: 3px;

		/* 2 Block model */
		width: 48px;
		height: 48px;
	}
}
.btn-circle::after {
	/* 1 Positioning */
	position: absolute;
	top: 0;
	left: -6px;
	z-index: 1;

	/* 2 Block model */
	display: block;
	width: 42px;
	height: 42px;

	/* 4 Visual */
	content: '';
	background: $color-primary;
	border-radius: 50%;
	opacity: 0.5;
	transition: all 0.8s $cubic-bezier 0.15s;
	animation: bottom 8s linear;
	animation-iteration-count: infinite;
	@media (min-width: 768px) {
		/* 1 Positioning */
		top: -2px;
		left: -5px;

		/* 2 Block model */
		width: 64px;
		height: 64px;
	}
}
.btn-circle:hover {
	/* 4 Visual */
	background: transparent;
	border: none;
	outline: none;
}
.btn-circle:focus {
	/* 4 Visual */
	background: transparent;
	border: none;
	outline: none;
}
.btn-circle:hover::before,
.btn-circle:hover::after {
	/* 5 Animation */
	animation: none;
}
.btn-circle:focus::before,
.btn-circle:focus::after {
	/* 5 Animation */
	animation: none;
}
.btn-circle:active::before,
.btn-circle:active::after {
	display: block;

	/* 5 Animation */
	animation: none;
}
.btn-circle:hover::before {
	/* 2 Block model */
	// top: -62%;
	left: 0;

	/* 2 Block model */
	width: 100%;

	/* 4 Visual */
	background: $color-primary;
	border-radius: 5px;
	opacity: 1;
}
.btn-circle:focus::before {
	/* 2 Block model */
	// top: -62%;
	left: 0;

	/* 2 Block model */
	width: 100%;

	/* 4 Visual */
	background: $color-primary;
	border-radius: 5px;
	opacity: 1;
}
.btn-circle:hover::after {
	/* 2 Block model */
	width: 50%;

	/* 4 Visual */
	opacity: 0;
}
.btn-circle:focus::after {
	/* 2 Block model */
	width: 100%;

	/* 4 Visual */
	opacity: 0;
}
.btn-circle:active {
	/* 2 Block model */
	padding: 11px 10px;

	/* 3 Typography */
	color: $color-white;

	/* 4 Visual */
	background: transparent;
	border: 0;
	outline: none;
	transition: 800ms ease all;
	@media (min-width: 768px) {
		/* 2 Block model */
		padding: 20px 10px;
	}
	@media (min-width: 992px) {
		/* 2 Block model */
		padding: 20px 20px;
	}
}
.btn-circle:active::before {
	/* 4 Visual */
	background: $color-primary-x-dark;
	border: none;
}

@keyframes top {
	0% {
		transform: translate(0, 0);
	}
	12% {
		transform: translate(-2px, -2px);
	}
	24% {
		transform: translate(-1px, 0);
	}
	36% {
		transform: translate(0, 1px);
	}
	48% {
		transform: translate(1px, -1px);
	}
	60% {
		transform: translate(1px, 0);
	}
	72% {
		transform: translate(0, 2px);
	}
	84% {
		transform: translate(-2px, 0);
	}
	96% {
		transform: translate(-1px, 1px);
	}
	100% {
		transform: translate(0, 0);
	}
}
@keyframes bottom {
	0% {
		transform: translate(0, 0);
	}
	12% {
		transform: translate(2px, -2px);
	}
	24% {
		transform: translate(0, -1px);
	}
	36% {
		transform: translate(-1px, 1px);
	}
	48% {
		transform: translate(-2px, 1px);
	}
	60% {
		transform: translate(-2px, 0);
	}
	72% {
		transform: translate(-1px, -1px);
	}
	84% {
		transform: translate(0, 1px);
	}
	96% {
		transform: translate(2px, 1px);
	}
	100% {
		transform: translate(0, 0);
	}
}

/* 1 Positioning */

/* 2 Block model */

/* 3 Typography */

/* 4 Visual */

/* 5 Animation */

/* 6 Misc */