.btn {
	/* 1 Positioning */
	position: relative;

	/* 2 Block model */
	box-sizing: border-box;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 16px 40px;
	margin: 0;

	/* 3 Typography */
	font-family: $font-main;
	font-size: 18px;
	font-weight: 700;
	line-height: 20px;
	color: $color-secondary;
	text-decoration: none;
	text-transform: uppercase;
	vertical-align: middle;

	/* 4 Visual */
	cursor: pointer;
	user-select: none;
	background-color: $color-primary;
	border: 1px solid $color-primary;
	border-radius: 5px;
	outline: none;

	/* 5 Animation */
	transition: all $animation-speed;
	-moz-appearance: none;
	-webkit-appearance: none;
	-webkit-tap-highlight-color: transparent;
	@media (min-width: 768px) {
		/* 2 Block model */
		padding: 7px 24px;

		/* 3 Typography */
		font-size: 14px;
	}
	@media (min-width: 992px) {
		/* 2 Block model */
		padding: 22px 40px;

		/* 3 Typography */
		font-size: 18px;
	}
}
.btn::before,
.btn::after {
	/* 1 Positioning */
	position: absolute;
	top: 0;
	right: 0;

	/* 2 Block model */
	width: 0;
	height: 2px;

	/* 4 Visual */
	content: '';
	background: $color-primary-dark;

	/* 5 Animation */
	transition: 400ms ease all;
}
.btn::after {
	/* 1 Positioning */
	top: inherit;
	right: inherit;
	bottom: 0;
	left: 0;
}
.btn:hover {
	/* 4 Visual */
	// background-color: $color-primary-dark;
	// border: 1px solid $color-primary-dark;
	background-color: transparent;
	border-color: transparent;
	border-radius: 0;
}
.btn:hover::before,
.btn:hover::after {
	/* 2 Block model */
	width: 100%;

	/* 4 Visual */
	transition: 800ms ease all;
}
.btn:focus {
	/* 4 Visual */
	// background-color: $color-primary-dark;
	// border: 1px solid $color-primary-dark;
	background-color: transparent;
	border-color: transparent;
	border-radius: 0;
}
.btn:focus::before,
.btn:focus::after {
	/* 2 Block model */
	width: 100%;

	/* 4 Visual */
	transition: 800ms ease all;
}
.btn:active {
	/* 3 Typography */
	color: $color-white;

	/* 4 Visual */
	background-color: $color-primary-x-dark;
	border: 1px solid $color-primary-x-dark;
	transition: 800ms ease all;
}
.btn:active::before,
.btn:active::after {
	/* 2 Block model */
	display: none;

	/* 4 Visual */
	transition: 800ms ease all;
}
.btn:disabled {
	/* 4 Visual */
	cursor: not-allowed;
	background-color: $color-primary-lite;
	border: 1px solid $color-primary-lite;
}
.btn:disabled::before,
.btn:disabled::after {
	/* 2 Block model */
	display: none;
}
.btn .icon {
	/* 2 Block model */
	box-sizing: inherit;
	flex-shrink: 0;
	width: 15px;
	height: 15px;

	/* 4 Visual */
	fill: #FFFFFF;

	/* 5 Animation */
	transition: all 0.4s;
}
.btn:hover .icon {
	/* 4 Visual */
	fill: #000000;
}
.btn .icon:first-child:not(:last-child) {
	/* 2 Block model */
	margin-right: 15px;
}
.btn .icon:last-child:not(:first-child) {
	/* 2 Block model */
	margin-left: 15px;
}

/* -------------------------------------------- */

/*
 * Modifiers
 *
 */

@import '--block/--block';
@import '--outline/--outline';
@import '--flat/--flat';