.h1 {
	/* 2 Block model */
	margin: 0;

	/* 3 Typography */
	font-family: $font-main;
	font-size: 32px;
	font-weight: 700;
	line-height: 40px;
	color: $color-text;
	@media (min-width: 768px) {
		/* 3 Typography */
		font-size: 48px;
		line-height: 60px;
	}
	@media (min-width: 992px) {
		/* 3 Typography */
		font-size: 48px;
		line-height: 56px;
	}
	@media (min-width: 1200px) {
		/* 3 Typography */
		font-size: 84px;
		line-height: 94px;
	}
}