.card {
	/* 1 Positioning */
	position: relative;

	/* 2 Block model */
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	padding-right: 32px;
	padding-bottom: 30px;
	padding-left: 32px;
	@include space(padding, top, mediumblue);
	@include space(margin, bottom, darkblue);

	/* 3 Typography */
	text-decoration: none;

	/* 4 Visual */
	background-color: $color-white;
	border-radius: 5px;
	outline: none;
	box-shadow: 0 2px 20px rgba(0, 0, 0, 0.08);
	@media (min-width: 1600px) {
		/* 2 Block model */
		flex-direction: row;
		min-height: 272px;
		padding-right: 15px;
		padding-bottom: 14px;
		padding-left: 38px;
	}
}
.card::before {
	/* 1 Positioning */
	position: absolute;
	top: 41px;
	right: 40px;

	/* 2 Block model */
	display: block;
	width: 16px;
	height: 16px;

	/* 4 Visual */
	content: '';
	background-image: url(../images/card__arows.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	/* 5 Animation */
	transition: all 0.5s;
	@media (min-width: 1600px) {
		/* 1 Positioning */
		top: 50%;
		right: auto;
		left: 38px;

		/* 4 Visual */
		transform: translateY(-50%);
	}
}
.card__left {
	/* 2 Block model */
	padding-right: 10px;
	@media (min-width: 1600px) {
		/* 2 Block model */
		padding-right: 15px;
	}
}
.card__title {
	/* 2 Block model */
	min-height: 80px;
	padding-left: 6px;
	margin-bottom: 12px;
	@media (min-width: 1600px) {
		/* 2 Block model */
		padding-left: 0;
	}
}
.card__right {
	/* 2 Block model */
	width: 100%;
	max-width: 225px;
	margin: 0 auto;
	@media (min-width: 1600px) {
		/* 1 Positioning */
		align-self: flex-end;
		margin: 0;
		margin-left: auto;
	}
}
.card__right .img {
	/* 5 Animation */
	transition: $animation-speed;
}
.card:hover .img {
	/* 4 Visual */
	transform: scale(1.1);
}
.card:hover::before {
	/* 4 Visual */
	animation: arows 1.5s linear;
	animation-fill-mode: forwards;
	animation-iteration-count: 1;
	animation-direction: normal;
}
.card:focus .img {
	/* 4 Visual */
	transform: scale(1.1);
}
.card:focus::before {
	/* 4 Visual */
	animation: arows 1.5s linear;
	animation-fill-mode: forwards;
	animation-iteration-count: 1;
	animation-direction: normal;
}
.card:active .img {
	/* 4 Visual */
	transform: scale(1.1);
}
.card:active::before {
	/* 4 Visual */
	animation: arows 1.5s linear;
	animation-fill-mode: forwards;
	animation-iteration-count: 1;
	animation-direction: normal;
}

@keyframes arows {
	0% {
		opacity: 1;
		transform: rotate(0);
	}
	10% {
		opacity: 0;
	}
	11% {
		transform: rotate(90deg);
	}
	100% {
		opacity: 1;
		transform: rotate(90deg);
	}
}

/* 1 Positioning */

/* 2 Block model */

/* 3 Typography */

/* 4 Visual */

/* 5 Animation */

/* 6 Misc */