section.catalog.gray
  div.container
    div.row
      div.col-12
        h2.h2.title Каталог

    div.row.catalog-mb-30
      div.col-12.col-md-6.col-lg-4
        +card({link: '#', title: 'БУЛЬДОЗЕРЫ', img: 'card__img-01', alt: 'БУЛЬДОЗЕРЫ'})
      div.col-12.col-md-6.col-lg-4
        +card({link: '#', title: 'ЭКСКАВАТОРЫ', img: 'card__img-02', alt: 'ЭКСКАВАТОРЫ'})
      div.col-12.col-md-6.col-lg-4
        +card({link: '#', title: 'САМОСВАЛЫ С&nbsp;ЖЕСТКОЙ РАМОЙ', img: 'card__img-03', alt: 'САМОСВАЛЫ С ЖЕСТКОЙ РАМОЙ'})
      div.col-12.col-md-6.col-lg-4
        +card({link: '#', title: 'КОЛЕСНЫЕ ПОГРУЗЧИКИ', img: 'card__img-04', alt: 'КОЛЕСНЫЕ ПОГРУЗЧИКИ'})
      div.col-12.col-md-6.col-lg-4
        +card({link: '#', title: 'ЭКСКАВАТОРЫ ПОГРУЗЧИКИ', img: 'card__img-05', alt: 'ЭКСКАВАТОРЫ ПОГРУЗЧИКИ'})
      div.col-12.col-md-6.col-lg-4
        +card({link: '#', title: 'АВТОГРЕЙДЕРЫ', img: 'card__img-06', alt: 'АВТОГРЕЙДЕРЫ'})
      div.col-12.col-md-6.col-lg-4
        +card({link: '#', title: 'ПОГРУЗЧИКИ С&nbsp;БОРТОВЫМ ПОВОРОТОМ', img: 'card__img-07', alt: 'ПОГРУЗЧИКИ С БОРТОВЫМ ПОВОРОТОМ'})
      div.col-12.col-md-6.col-lg-4
        +card({link: '#', title: 'САМОСВАЛЫ С&nbsp;ШАРНИРНО СОЧЛЕНЕННОЙ РАМОЙ', img: 'card__img-08', alt: 'САМОСВАЛЫ С ШАРНИРНО СОЧЛЕНЕННОЙ РАМОЙ'})
      div.col-12.col-md-6.col-lg-4
        +card({link: '#', title: 'мини-экскаватор', img: 'card__img-09', alt: 'МИНИ-ЭКСКАВАТОР'})